{% extends "main.html" %}

{% block page_name %}
About Cats on Skis
{% endblock %}

{% block content %}
<h3>About Cats on Skis</h3>
<p>
We love Cats on Skis! This is the absolute best place to find information about cats on skis.
</p>

<h3>Your Authors</h3>
<div class="media mt-4">
  <div class="media-left">
    <figure class="image is-96x96">
      <img src="{{ url_for('images', image='slalom-sammy') }}" alt="Slalom Sammy">
    </figure>
  </div>
  <div class="media-content">
    <p class="is-size-5 has-text-weight-semibold">Slalom Sammy</p>
  </div>
</div>
{% endblock %}
