<!DOCTYPE html>
<html>
<head>
    <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section class="section">
        <div class="container">
            <!-- Navigation bar -->
            <nav class="has-text-success-dark is-size-4 has-text-weight-medium mb-4">
                <a href="{{ url_for('home') }}">Home</a>
                &nbsp;&nbsp;
                <a href="{{ url_for('all_pages') }}">Pages</a>
                &nbsp;&nbsp;
                <a href="{{ url_for('about') }}">About</a>
            </nav>

            <!-- Page content -->
            <div class="content">
                {% block content %}{{ page_content }}{% endblock %}
            </div>
        </div>
    </section>
</body>
</html>
